---
layout: default
title: Archive
description: 
permalink: /archive/
---
<section class="archives" itemscope itemtype="http://schema.org/Blog">
  <a class="nav nav--black" href="{{ site.baseurl }}/">
    <i class="fa fa-lg fa-arrow-left"></i>
    <span>Back to Posts</span>
  </a>
  <header class="archives__header">
    <span>Search</span>
  </header>
  <div class="section-padding archives__container">


		<div id="tipue_search_content"></div>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch();
});
</script>
  
  
  </div>
</section>


